<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Air</string>
	<key>ordering</key>
	<array>
		<string>16D8A82C-AD60-4E75-94A2-15AC2063B473</string>
		<string>ADB53829-AE25-4F90-B38F-83C4AADA0A9A</string>
		<string>DC4054A1-1F42-48A1-B04A-DA34AF0369B3</string>
		<string>0BDC3D59-DBE2-4E2F-BA58-8AED1AA9CC20</string>
	</array>
	<key>uuid</key>
	<string>5E6B83B6-EEE7-404E-9EA6-CFF7EF272E58</string>
</dict>
</plist>
